<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zl.order.dao.OrderMasterDao">
    <!--订单详情-->
    <insert id="insertOrderMaster" parameterType="com.zl.order.model.OrderMaster">
        insert into
        order_master(order_id,buyer_name,buyer_phone,buyer_address,buyer_openid,order_amount,
        order_status,pay_status,create_time,update_time)
        values (#{orderId},#{buyerName},#{buyerPhone},#{buyerAddress},#{buyerOpenid},#{orderAmount},
        #{orderStatus},#{payStatus},#{createTime},#{updateTime})
    </insert>

</mapper>